<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />
    <title>Karma Reward System</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <!--  ******** Styles ************* -->
    <link rel="shortcut icon" href="~/Resources/img/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>

    @System.Web.Optimization.Styles.Render("~/resources/css/primary")

    <!--  ******** JS Libs ************* -->

    @System.Web.Optimization.Scripts.Render("~/bundles/scripts/primary")
    @System.Web.Optimization.Scripts.Render("~/bundles/scripts/secondary")


    <script type="text/javascript">
        window.hfl = window.hfl || {};
        window.hfl.nav = {
            primary: '@ViewBag.Primary',
            secondary: '@ViewBag.Secondary'
        };
    </script>

    <!-- ******** Library Files End *********** -->
    @RenderSection("customcss", false)

    @RenderSection("customjs", false)

</head>
<body class="skin-blue">
    <div class="wrapper">

        @RenderPage("~/Views/Shared/_MasterPageHeader.cshtml", null)


        @RenderPage("~/Views/Shared/_MasterPageLeftNavigation.cshtml", null)


        <div class="content-wrapper">
            @RenderBody()
        </div>
    </div>
    <!-- ******  Footer ****** -->
    <div class="page-footer">
        <div class="page-footer-inner">
            @RenderPage("~/Views/Shared/_CopyRight.cshtml", null)
        </div>
    </div>

    <script>
        jQuery(document).ready(function () {
        });
    </script>
</body>
</html>
