@model KarmaRewards.Model.User

@{
    Layout = "~/Views/User/_AddLayout.cshtml";
}

<div class="tab-pane active" id="tab_1">
    <div id="divAddUser">
        @using (Html.BeginForm("Edit", "User", FormMethod.Post, new { role = "form" }))
        {
                                
            <div class="form-group">
                <label for="Username">User Name</label>
                @Html.TextBoxFor(m => m.Username, new { placeholder = "User Name", @class = "form-control", spellcheck = "false", autocomplete = "off" })
                <span class="help-block">User Name should be unique.</span>
            </div>
            <div class="form-group">
                <label for="Email">Email Address</label>
                @Html.TextBoxFor(m => m.Email, new { placeholder = "Tavisca Email Address of the Employee", @class = "form-control", spellcheck = "false", autocomplete = "off" })
                <span class="help-block">If user name is valid, email address will be auto-filled.</span>
            </div>
            <div class="form-group">
                <label for="FirstName">First Name</label>
                @Html.TextBoxFor(m => m.FirstName, new { placeholder = "First Name of the Employee", @class = "form-control", spellcheck = "false", autocomplete = "off" })
            </div>
            <div class="form-group">
                <label for="LastName">Last Name</label>
                @Html.TextBoxFor(m => m.LastName, new { placeholder = "Last Name of the Employee", @class = "form-control", spellcheck = "false", autocomplete = "off" })
            </div>
            <div class="form-group">
                <label for="Gender">Gender</label>
                @Html.DropDownList("Gender", new List<SelectListItem>() {
                                            new SelectListItem{ Text = "Male", Value="m"},
                                            new SelectListItem{ Text = "Female", Value="f"}
                                        }, new { @class = "form-control" })
            </div>
            <div class="hide">
                @Html.HiddenFor(m => m.IsEnabled)
                @Html.HiddenFor(m => m.ImageUrl)
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="JoiningDate">Joining Date *</label>
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.JoiningDateStr, new { placeholder = "Date of Joining", @class = "form-control" })
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="JoiningDate">Date of Birth <small class="font-normal">(optional)</small></label>
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.DateOfBirthStr, new { placeholder = "Date of Birth", @class = "form-control" })
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <label for="Designation">Designation</label>
                @Html.TextBoxFor(m => m.Designation, new { placeholder = "Designation of the Employee", @class = "form-control", autocomplete = "off" })
            </div>

            <div class="box-footer pad0-left pad0-right">
                @if (Model == null)
                {
                    <button type="submit" class="btn btn-primary pad20-right"><i class="fa fa-plus margin5-right"></i>Add</button>
                }
                else
                {
                    <button type="submit" class="btn btn-primary pad20-right"><i class="fa fa-check margin5-right"></i>Save</button>
                }
            </div>            
        }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        new karma.Views.AddUserView().render($('#divAddUser'));
    });
</script>
